body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.5;
}
h1 {
    font-family: 'Merriweather', serif;
}
.inline-block{
    padding: 15px;
}
.inline-block ul{
    float: right;
}
.inline-block li{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
}
.heroImg{
    background-color: bisque;
    padding: 100px 15px; 
}
footer {
    padding: 5px;
}
footer ul{
    list-style: none;
    padding-left: 5px;
}
footer .inline-block{
    display: inline-block;
    padding: 0px 7px;
}

