header{
    background-color: white;
    padding: 15px;
}
.inline-block ul{
    float: right;
    color: solid black;
}
.inline-block li{
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    font-size: 22px;
    font-family: Garamond, Arial, sans-serif;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav{
    height: 50px;
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.flexContainer {
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #373738;
    
}